@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}

body {
    height: 100vh;
    font-family: 'Spectral SC', sans-serif;
    background-image: url("../images/mortal-kombat-background.jpg");
    background-size: cover;
    position: relative;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background-image: linear-gradient(-225deg, #4d0000, #000000 100%);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.open {
    width: (100%);
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.mainTag {
    color: #4d0000;
    font-weight: bolder;
    font-size: 3.5rem;
}

.welcome {
    color: red;
    font-weight: 800;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.btn-handle {
    border: 2px solid #4d0000;
    background-color: #ffffff;
}

.btn-handle:hover {
    background: linear-gradient(115.87deg, #ba091b 0%, #000000 100%);
}

.headTag, .points > p {
    font-weight: bolder;
    color: #4d0000;
}

#point {
    font-weight: 1300;
}

#won {
    visibility: hidden;
    border-radius: 10px;
    background: darkred;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 5px solid #000000;
}

#won > h1, #won p {
    font-weight: bolder;
}

#playAgain {
    border: 2px solid darkslategrey;
    border-radius: 5px;
    background: #000000;
}

#dragon {
    height: 100px;
    width: 100px;
}